.container{
    background-color: aqua;
    display: flow-root;
}
img{
    width:200px ;
    float: left;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}
.first-paragraph{
    background-color: yellowgreen;
    /* clear: left; */
}
