/* #html {
    background-color: deeppink;
}
li{
    background-color: aqua;
    
}
li {
    background-color: brown;
}
.html{
    background-color: blueviolet;
}
#html{
    background-color: aqua;
}
#html{
    background-color: darkmagenta;
} */

/* we can increase specificity by adding more attributes as above # with . or # with # 
more the specificity greater is the  priority */