body {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 200px;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 8px;
    color: white;
    margin-bottom: -100px;
}
.first-container{
    background-color: aqua;
    box-shadow: 0px 5px 16px;
    padding: 1rem;
    position: relative;
    z-index: 5;
}
.second-container{
    background-color: chartreuse;
    margin-left: 2rem;
    box-shadow: 0px 5px 16px;
    padding: 1rem;
    position: relative;
    z-index: 2;
}
.red-box {
    background-color: red;
    margin-left: 1rem;
    /* position: absolute; */
    /* z-index: 10; */
    position: relative;
}

.green-box {
    background-color: green;
    margin-left: 2rem;
    
     position: relative;
}

.blue-box {
    background-color: blue;
    margin-left: 3rem;
    position: relative;
    /* margin-top: -200px; */
}
.second-container .red-box{
    /* z-index: 99999; */
}
/* when the z index is applied to entire container is high it does affect elements in it even if their z index is low than other elemnts in other container  */